.a1{
    background-color: #302b63;
    
}

.b1{
    background-color: #636691;
    height: 300px;
    box-shadow:10px 10px 15px 2px;
    border-radius: 18px;
   
    
}
img{
    height:300px;
    border-radius:30px;

}